#spells-container .row {
    margin-bottom: 10px;
}

#headers {
    border-bottom:1px solid #dddddd;
}

.spell-details {
    display: none;
    margin-top: 10px;
}

.selects select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    padding: 15px 10px;
    font-size: 14px;
    display: inline-block;
    background-color: #f8f8f8;
}

li.selects:first-of-type {
    border-left: 1px solid #e7e7e7;
}

li.selects {
    border-right: 1px solid #e7e7e7;
    border-radius: 0;
}

.selects {
    position: relative;
}

.selects:after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #333;
    margin-right: 10px;
}

@media(max-width:767px) {
    /*.spell-level {*/
        /*display: none;*/
    /*}*/

    .spell-classes {
        display: none;
    }

    .spell-school {
        display: none;
    }
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}